body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background: url(../images/rocket.png) right 20px top 20px/ 100px no-repeat,
    url(../images/bg.jpg) center / cover no-repeat;

  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100vw;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ----------------- menu ----------------- */

.menu-link {
  color: #ffc0cb;
  font-size: 20px;
}

/* ----------------- atricle ----------------- */

.article-title {
  color: #ee8282;
  font-size: 28px;
  border-bottom: 2px solid currentColor;
}

.article-link {
  color: currentColor;
}

.article-description {
  background-color: #ffff00;
  color: #212121;
}

.article-more {
  color: #ffffff;
}

.article-more:hover,
.article-more:focus {
  text-decoration: none;
  color: #ee8282;
}

.article-transition {
  color: #212121;
}
